<h1>Stupid coaching</h1>
<div class="question">
  <%= params[:question] %>
  <p> -You</p>
</div>

<div class="answer">
  <%= @answer %>
  <p> -Your coach</p>
</div>


<div class="btn btn-primary"> <%= link_to "Ask another question!", "/ask" %></div>

