// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  font-style: italic;
  color: rgb(100, 100, 100);
}

.question, .answer {
  border-left: 3px solid rgba(146, 146, 146, 0.7);
  padding-left: 15px;
  margin: 40px 10px;
}

.answer {
  background-color: rgba(255, 251, 224, 0.5)
}

a {
  color: white !important
}

a:hover {
  text-decoration: none;
}
